<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698409438050-vs00dppfchlb6nanhuq9cbr7p99p169m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698409438050-vs00dppfchlb6nanhuq9cbr7p99p169m</string>
	<key>API_KEY</key>
	<string>AIzaSyBsT5ubmG0J_M8WOlH_tkcGk89OVuLiHDc</string>
	<key>GCM_SENDER_ID</key>
	<string>698409438050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.starWarsApp</string>
	<key>PROJECT_ID</key>
	<string>star-wars-fa728</string>
	<key>STORAGE_BUCKET</key>
	<string>star-wars-fa728.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698409438050:ios:83f928b48f0dc85f163a3b</string>
</dict>
</plist>